@{
    ViewData["Title"] = "Survey Form";
}

<link rel="stylesheet" href="~/css/surveyform.css" asp-append-version="true" />

<div class="survey-header">
	<h1>SURVEY</h1>
	<h4>Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</h4>
</div>

<div class="survey-body">
    <form id="survey" class="survey">
		<div class="survey-question1">
			<h3>Worry about things</h3>
			<div class="survey-question1__choices">
				<button name="button1" type="button"> Very Inaccurate </button>
				<button name="button2" type="button"> Moderately Inaccurate </button>
				<button name="button3" type="button"> Neither Inaccurate Nor Accurate </button>
				<button name="button4" type="button"> Moderately Accurate </button>
				<button name="button5" type="button"> Very Accurate </button>
				<input id="question1" name="question1" value="" />
			</div>
        </div>
		<div class="survey-question2">
			<h3>I make friends easily</h3>
			<div class="survey-question2__choices">
				<button name="button1" type="button"> Very Inaccurate </button>
				<button name="button2" type="button"> Moderately Inaccurate </button>
				<button name="button3" type="button"> Neither Inaccurate Nor Accurate </button>
				<button name="button4" type="button"> Moderately Accurate </button>
				<button name="button5" type="button"> Very Accurate </button>
				<input id="question2" name="question2" value="" />
			</div>
        </div>
		<div class="survey-question3">
			<h3>I have vivid imagination</h3>
			<div class="survey-question3__choices">
				<button name="button1" type="button"> Very Inaccurate </button>
				<button name="button2" type="button"> Moderately Inaccurate </button>
				<button name="button3" type="button"> Neither Inaccurate Nor Accurate </button>
				<button name="button4" type="button"> Moderately Accurate </button>
				<button name="button5" type="button"> Very Accurate </button>
				<input id="question3" name="question3" value="" />
			</div>
        </div>
		<input type="submit" name="name" value="Submit" />
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js"></script>